# Reference book
[ Think Python](https://greenteapress.com/wp/think-python-2e/)

# Google Colab
* Google Colab is an excellent platform for developers to work on their machine learning projects in a collaborative environment
* It provides a seamless experience to write, edit and execute code in Python with the help of Jupyter notebooks.

# Create A Google Colab Notebook
1. Log in to your Google account. If you donâ€™t have a Google account, go to accounts.google.com and create an account
2. Click the 9 dots icon on the upper-right corner and select **Drive**.
3. Click **New -> More -> Google Colaboratory** to open a new Colab Notebook.
4. Click the file name one the upper-left corner and change the file name.

# Save course files on Google Drive
* From Google Drive, click the **New** button, then select **Folder** from the drop-down menu.
* A dialog box will appear. Enter *IFSC4399/5399* for your folder, then click **Create**.
* Your folder will appear on the left below My Drive. You may need to click the drop-down arrow to see your folders.
* Download lecture .ipynb file from Blackboard. Click and drag the file to the *IFSC4399/5399* folder that you just created.

# What is Python
Python is a popular programming language. It was released in 1991. It is used for:
* Web Development (server-side)
* Software Development
* Mathematics
* System Scripting

# What can Python do?
* Python can be used on a server to create web applications.
*  Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics.
* Python can be used for rapid prototyping, or for production-ready software development.

# Why Python?
* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.

# Good to Know
* The most recent major version of Python is Python 3, which we shall be using in this course. However, Python 2, although not being updated with anything other than security updates, is still quite popular.
* If you wish, you can download Python for free and install it on your computer. See [Python.org](https://www.python.org/).

# Python Syntax Compared to Other Programming Languages
* Python was designed for readability, and has some similarities to the English language with influence from mathematics.
* Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
* Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

In [ ]:
print("Hello World")

# Python Comments
Comments can be used to:
* Explain Python code.
* Make the code more readable.
* Prevent execution when testing code.

Comments start with a #, and Python ignores everything after it

In [ ]:
#This is a comment
print("Hello, World")

#You can have a comment after a line of code
print("Hello, World") #This is a comment

#You can "comment out" a line of code to prevent it from executing
#print("Good Morning")
print("Hello, World")

# Python Variables
* Variables are containers for storing data values.
* Unlike other programming languages, Python has no command for declaring a variable.
* A variable is created the moment you first assign a value to it.
* String variables can be declared either by using single or double quotes

## Variable Names
* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
# A variable is created the moment you first assign a value to it.
x = 5
y = "John"

print(x)
print(y)

# Variables do not need to be declared with any particular type and
# can even change type after they have been set.
x = 4       # x is of type integer
print(x)

x = "Sally" # x is now of type string
print(x)

# String variables can be declared either by
# using single or double quotes:
x = "John"
print(x)
# is the same as
x = 'John'
print(x)

# Python allows you to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

# And you can assign the same value to multiple variables in one line:
x = y = z = "Orange"
print(x)
print(y)
print(z)

# Python Numbers
There are two numeric types in Python:
* Integer - a whole number, positive or negative, without decimals, of unlimited length.
* Float - a number, positive or negative, containing a decimal.

You can verify the type of object in Python by using the **type()** function

In [ ]:
x = 1 #x is type integer
print(x)
print(type(x))

y=2.8 #y is type float
print (y)
print (type(y))

# Integer is a whole number, positive or negative,
# without decimals, of unlimited length.
x = 1
y = 35656222554887711
z = -3255522
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

# Float in number, positive or negative, containing a decimal.
x = 1.10
y = 1.0
z = -35.59
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

# Float can also be scientific numbers with an "e"
# to indicate the power of 10.
x = 35e3
y = 12E4
z = -87.7e100
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

# Python Casting
There may be times that you want to convert from one type to another. Casting in python is therefore done using the following functions:

* int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
* float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
* str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals
       
## Runtime Errors
Sometime your code can create a situation that Python can't handle. For instance, in Line 19, strval2 has a value of -7.8, which is not a whole number (floating numbers have the decimal portion rounded down, but strings must be a whole number).

Remove the comment charachter from line 19 and you will see the error:

ValueError                                Traceback (most recent call last)<br>
<ipython-input-5-d60e0eeb2af6> in <cell line: 19>()
     17 print (int(floatval3))<br>
     18 print (int(strval1))<br>
---> 19 print (int(strval2))<br>
     20 #print (int(strval3))<br>

ValueError: invalid literal for int() with base 10: '-7.8'<br>

* Python is telling you that there is an error in Line 20 and that -7,8 is an invalid literal for the int() function.

In [ ]:
intval1 = 7
intval2 = -3
intval3 = 0
floatval1 = 2.8
floatval2 = -4.6
floatval3 = 5.0
strval1 = "6"
strval2 = "-7.8"
strval3 = "5a"


print (int(intval1))
print (int(intval2))
print (int(intval3))
print (int(floatval1)) # Note that 2.8 becomes 2
print (int(floatval2)) # Note that -4.6 becomes -4
print (int(floatval3))
print (int(strval1))
#print (int(strval2)) # Note you will get an error here
#print (int(strval3)) # Note you will get an error here

print (float(intval1))
print (float(intval2))
print (float(intval3))
print (float(floatval1))
print (float(floatval2))
print (float(floatval3))
print (float(strval1))
print (float(strval2))
#print (float(strval3)). # Note you will get an error here

print (str(intval1))
print (str(intval2))
print (str(intval3))
print (str(floatval1))
print (str(floatval2))
print (str(floatval3))
print (str(strval1))
print (str(strval2))
print (str(strval3))               # No error here

# Python Strings
String literals in python are surrounded by either single quotation marks, or double quotation marks. 'hello' is the same as "hello".
* You can print a blank line be entering print("")
* You can assign a multiline string to a variable by using three quotes. Note that this preserves the linefeeds in the string. If you don't want the linefeeds, you will have to put the string in one line.
* You can concatenate strings using the + sign

In [ ]:
# String literals are surrounded by either single quotation marks,
# or double quotation marks.
print("Hello")
print('Hello')

# Blank Line
print("")

# Example of a multiline string
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

# Blank Line
print("")

# Concatenating strings
a = "Hello"
b = "Dolly"
c = a + " " + b + "!"
print(c)

# Python Arithmetic Operators
      
   
Arithmetic operators are used with numeric values to perform common mathematical operations

Operator  | Name                        |Example
-------------------|------------------  |--------------
+       | Addition       | x + y
-      | Subtraction       | x - y
*      | Multiplication       | x * y
/      | Division       | x / y
%       | Modulus       | x % y
**     | Exponentiation       | x ** y
//      | Floor Division       | x // y

In [ ]:
x = 11
y = 4

print (x + y)
print (x - y)
print (x * y)
print (x / y)
print (x % y)
print (x ** y)
print (x // y)

15
7
44
2.75
3
14641
2

# Python Assignment Operators
Assignment Operators are used to assign values to variables

Operator  | Name                        |Example|Same as
-------------------|------------------  |-------|------
=       | Assignment       | x = 5      | x = 5
+=      | Addition       | x += 5      | x = x + 5
-=      | Subtraction       | x -= 5    |. x = x - 5
*=      | Multiplication     | x *= 5 |. x = x * 5
/=       | Division       | x /= 5      | x = x / 5
%=      | Modulus       | x %= 5       | x = x % 5
//=      | Remainder       | x //= 5    |. x = x // 5
**=      | Exponentiation       | x ** = 5 | x = x ** 5

In [ ]:
x = 7
print(x)

x=7
x += 5
print(x)

x=7
x -= 5
print(x)

x=7
x *= 5
print(x)

x=7
x /= 5
print(x)

x=7
x %= 5
print(x)

x=7
x //= 5
print(x)

x=7
x **= 5
print(x)

# Inputting Data
* You can use the input() statement to prompt the user for input. When an input() statement is executed, you can type your input and press the ENTER key.
  
* You should add a prompt in your input statement, as in input("Enter Your Name"). This will display the prompt so you know that Python is waiting for input.
* If you don't enter any data and press the ENTER key, Python will return an empty string, or ""

In [ ]:
firstname = input()  # Input statement without a prompt
print("You Entered: " + firstname)

lastname = input("Enter Your Name:")  # Input statement with a prompt
print("You Entered: " + lastname)

Mary Yang
You Entered: Mary Yang
Enter Your Name:
You Entered:

# Further Reading from the Think Python Book
* [What is a program?](https://greenteapress.com/thinkpython2/html/thinkpython2002.html)
* [The way of the program](https://greenteapress.com/thinkpython2/html/thinkpython2002.html)
* [Running Python](https://greenteapress.com/thinkpython2/html/thinkpython2002.html#sec7)
* [The first program](https://greenteapress.com/thinkpython2/html/thinkpython2002.html#sec8)
* [Arithmetic operators](https://greenteapress.com/thinkpython2/html/thinkpython2002.html#sec9)
* [Values and types](https://greenteapress.com/thinkpython2/html/thinkpython2002.html#sec10)
* [Formal and natural languages Debugging](https://greenteapress.com/thinkpython2/html/thinkpython2002.html#sec11)
* [Glossary](https://greenteapress.com/thinkpython2/html/thinkpython2002.html#sec13)
* [Exercises](https://greenteapress.com/thinkpython2/html/thinkpython2002.html#sec14)

# Ex1: Sum of Three Numbers

* Write a program that takes the prompts for three integer numbers and prints their sum.

First Number: 2 <br>
Second Number: 3 <br>
Third Number: 4 <br>
9

First Number: -5 <br>
Second Number: 180 <br>
Third Number: 17 <br>
192

First Number: 2 <br>
Second Number: 0 <br>
Third Number: -6 <br>
-4

# Ex2 Hello
* Write a program that displays the prompt "First Name:" and prints the word "Hello" followed by the name of the person.

First Name: Joe <br>
Hello Joe

First Name: Jane <br>
Hello Jane

First Name: World <br>
Hello World

# Ex3: Square
* Write a program that prompts for a number (either integer for float), and prints the square of the number.

Enter Number: 5 <br>
25.0

Enter Number: 7 <br>
49.0

Enter Number: 5.5 <br>
30.25

# Ex4: Apple Sharing
* Assume N students take K apples from a basket and distribute them among each other evenly. The remaining (the undivisible) apples remains in the basket. Write a program that
    * Prompt for the number of students and apples.
    * Calculate how many apples will each single student get?
    * Calculate how many apples will remain in the basket?



  Number of Students: 6 <br>
  Number of Apples: 50 <br>
  8 <br>
  2

  Number of Students: 5 <br>
  Number of Apples: 25 <br>
  5 <br>
  0

  Number of Students: 1 <br>
  Number of Apples: 10 <br>
  10 <br>
  0

# Ex5: Previous and Next
* Write a program that prompts for an integer number and prints its previous and next numbers.
* Display the results exactly as shown below. There shouldn't be a space before the period.
* Remember that you can convert the numbers to strings using the function 'str'.

Enter Number: 179 <br>
The next number for the number 179 is 180 <br>
The previous number for the number 179 is 178 <br>

Enter Number: -5 <br>
The next number for the number -5 is -4 <br>
The previous number for the number -5 is -6

Enter Number: 0 <br>
The next number for the number 0 is 1 <br>
The previous number for the number 0 is -1

# Ex6: Two Timestamps

* A timestamp consists of three numbers:
    1. number of hours
    2. number of minutes
    3. number of seconds
* Given two timestamps, calculate how many seconds are between them.
* Assume that the moment of the first timestamp occurred before the moment of the second timestamp.

First Timestamp  <br>
Enter Hours: 6  <br>
Enter Minutes: 1  <br>
Enter Seconds: 30  <br>
Second Timestamp   <br>
Enter Hours: 6  <br>
Enter Minutes: 2  <br>
Enter Seconds: 10  <br>
40 <br>

First Timestamp  <br>
Enter Hours: 2  <br>
Enter Minutes: 3Enter Seconds: 4  <br>
Second Timestamp  <br>
Enter Hours: 4  <br>
Enter Minutes: 7  <br>
Enter Seconds: 28  <br>
7464

# Ex7: School Desks
* A school decided to replace the desks in three classrooms. Each desk seats two students.
* Given the number of students in each class, determine the smallest possible number of desks that can be purchased.
* The program should:
    * Read three integers: the number of students in each of the three classerooms A, B and C respectively.
    * Use floor division to find the number of desk that has two students and use modulus to find the number of desks that have one student.
    * Add the number of desks needed for each classroom and print the total.
* **Example:** <br>
    * Classroom A has 20 students and thus needs 10 desks.
    * Classroom B has 21 students, so they can get by with no fewer than 11 desks.
    * Classroom C has 22 and also needs 11 desks
    * 32 desks in total (10 + 11 + 11)
  
Enter Classroom A: 20 <br>
Enter Classroom B: 2 <br>
Enter Classroom C: 20 <br>
31 <br>


Enter Classroom A: 20 <br>
Enter Classroom B: 21 <br>
Enter Classroom C: 22 <br>
32 <br>

Enter Classroom A: 21 <br>
Enter Classroom B: 22 <br>
Enter Classroom C: 23 <br>
34

# Ex8: Number of Seconds
* Write a program that prompts for the number of minutes and number of seconds.
* Display the total number of seconds.


Enter Minutes: 38 <br>
Enter Seconds: 11 <br>
2291 <br>


Enter Minutes: 60 <br>
Enter Seconds: 0 <br>
3600 <br>


Enter Minutes: 0 <br>
Enter Seconds: 48 <br>
48

# Ex9:  Miles In a Kilometer
* Write a program that prompts for the number of kilometers.
* Calculate and display the number of miles in the kilometers.
* **Hint**: Use the float() function to convert your input to an floating number.
* **Hint**: There are 1.61 kilometers in a mile.


Enter Kilometers: 5 <br>
3.105590062111801  <br>

Enter Kilometers: 0 <br>
0.0  <br>

Enter Kilometers: 22.5  <br>
13.975155279503104 <br>

# Ex10: Average Speed
* Write a program that prompts for the lenght of a race in kilometers, the prompts for the number of minutes and number of seconds needed to run the race.
* Display the average speed in **Miles per Hour**
* **Hint**: Use the int() function to convert your input to an integer.
* **Hint**: There are 1.61 kilometers in a mile.


Enter Length of Race in Kilometers: 10 <br>
Enter Minutes: 61 <br>
Enter Seconds: 33 <br>
6.054765352614396 <br>


Enter Length of Race in Kilometers: 10 <br>
Enter Minutes: 54 <br>
Enter Seconds: 38 <br>
6.821308251130252 <br>
  
  
Enter Length of Race in Kilometers: 5 <br>
Enter Minutes: 28 <br>
Enter Seconds: 7 <br>
6.627222420629805