# List
* Most of programs work not only with variables. They also use lists of variables.
* A program can handle an information about students by reading the list of students from the keyboard or from a file.
    * A change in the number of students in a class must not require modification of the program source code.
* We have already faced the task of processing elements of a sequence — for example, when finding the largest element of the sequence. But we haven't kept the whole sequence in computer's memory. However, in many situations it is necessary to keep the entire sequence, like if we had to print out all the elements of a sequence in ascending order ("sort a sequence").

In [ ]:
Primes = [2, 3, 5, 7, 11, 13]
Rainbow = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']
print(Primes)
print(Rainbow)

# Creating a List
To store such data, in Python you can use the data structure called **list** (in most programming languages the term — “array” is used).
* A list is a sequence of elements numbered from 0, just as characters in the string.
* The list can be defined manually defining each of its elements, like here:
The list Primes has 6 elements, namely: `Primes[0] = 2, Primes[1] = 3, Primes[2] = 5, Primes[3] = 7, Primes[4] = 11, Primes[5] = 13`.
* The list Rainbow has 7 elements, each of which is the string. Indexes of elements are written in square brackets.
* Like characters in a string, list elements can also have negative index, for example, `Primes[-1] = 13, Primes[-6] = 2`. The negative index means we start at the last element and go left when reading a list.

In [ ]:
# Create a list
Primes = [2, 3, 5, 7, 11, 13]
Rainbow = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']

What is `Primes[-3]`? Make your guess, then type `print(Primes[-3])`

# Number of Elements in a List: len()
You can obtain the number of elements in a list with the function len (meaning length of the list), e.g. `len(primes) == 6`.

In [ ]:
primes = [2, 3, 5, 7, 11, 13]
print(len(primes))

# Printing a list

In [ ]:
Rainbow = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']

#You can obtain the number of elements in a list with the function len()
for i in range(len(Rainbow)):
    print(Rainbow[i])

* You can print elements of a list a with `print(a)`; this displays the list items surrounded by square brackets and separated by commas.
* By formatting the value, you can print all the elements in one line or one item per line.
* Here are two examples of that, using other forms of loop:

In [ ]:
a = [1, 2, 3, 4, 5]

# Print all the values on a single line
for i in range(len(a)):
    print(a[i], " ", end="")
print() # print a new line

# Print all the values one per line
for i in range(len(a)):
    print(a[i])

# List Elements Are Changable
Unlike strings, the elements of a list are changeable; they can be changed by assigning new values to them.

In [ ]:
Rainbow = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']
print(Rainbow[0])

Rainbow[0] = 'red'
print('And now print the rainbow!')
for i in range(len(Rainbow)):
    print(Rainbow[i])

# Creating a List: **append()**
* We want to tell you several ways of creating and reading lists.
* First of all, you can create an empty list (the list with no items, its length is 0), and you can add items to the end of your list using append.
    * For example, suppose the program receives the number of elements in the list n, and then n elements of the list one by one each at the separate line. Look at the example of input data in this format.

In [ ]:
a = [] # create an empty list
n = int(input()) # read number of element in the list

for i in range(n):
    new_element = int(input()) # read next element
    a.append(new_element) # add it to the list

print(a)

# Example Using **len()** and **append()**
Let's demonstrate how you can read an arbitrary number of elements into a list, then get the number of elements in the list using the **len()** method.

**Numbers.txt**
```
1809
1854
1860
1891
1925

```
Copy, paste and save the above text as Numbers.txt

# Mounting Google Drive
Mount Google Drive in Google Colab. This allows you to access the files stored in your Drive account from within Colab. To mount your Drive account, run the following code:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Create an empty list
a = []

# Open a file for reading
path = "/content/drive/MyDrive/IFSC4399_5399_Data_Fundamentals/"
numbersfile = open(path + "Numbers.txt", "r")

# Read the first line of the file
x = numbersfile.readline()

# End of file is indicated when the input is empty
while x != "":
   # Convert the number to an integer and append it to the list
    a.append(int(x))

   # Read the next line of the file
    x = numbersfile.readline()

# Close the file
numbersfile.close()
   # Print the list - get the number of elements using the len() method

print("Print elements of the list")
for i in range(len(a)):
    print(a[i])

# List Operations
There are several operations defined for lists:
* list concatenation ("gluing" one list to another) and repetition (multiplying a list by a number).

In [ ]:
a = [1, 2, 3]
b = [4, 5]
c = a + b
d = b * 3

print([7, 8] + [9])
print([0, 1] * 3)
print(c)
print(d)

# Split a String Into a List: **split()**
* List items can be given in one line separated by a character; in this case, the entire list can be read using input().
* You can then use a string method **split()**, which returns a **list** of strings resulting after cutting the initial string by spaces. You can also specify a **seperator** other than a space.

In [ ]:
s = "a, b, c"
a = s.split(", ")

for i in range(len(a)):
    print (a[i])

# Combine a List Into a String: **join()**
* In Python, you can display a list of strings using one-line commands.
    * For that, the method **join** is used:
    * This method has one parameter: a list of strings.
    * It returns the string obtained by concatenation of the elements given, and the separator is inserted between the elements of the list; this separator is equal to the string on which is the method applied.

In [ ]:
# Create a List
a = ["a","b","c"]

# Contatenate the list items, separated by a comma and blank
b = ", ".join(a)
print(b)

a = ['red', 'green', 'blue']
print(' '.join(a))    # prints red green blue
print('***'.join(a))  # prints red***green***blue

# Generators
To create a list filled with identical items, you can use the repetition of list, for example:

In [ ]:
n=5
a = [0] * n
print(a)

# List Slices
With lists and strings, you can do slices. Namely:
```
A[i:j]     # slice j-i elements A[i], A[i+1], ..., A[j-1].
A[i:j:-1]  # slice i-j elements A[i], A[i-1], ..., A[j+1] (that is, changing the order of the elements).
A[i:j:k]   # cut with the step k: A[i], A[i+k], A[i+2*k],... . If the value of k<0, the elements come in the opposite order.
```

In `A[i:j]` you may omit each of the numbers i or j (remember, they stand for the beginning of the slce and for the end of the slice).

In [ ]:
s = ['a','b','c','d','e','f']
print(s[1:4])
print(s[1:])
print(s[:4])

a = [10, 20, 30, 40, 50, 60]
print(a[1:4])

* Lists, unlike strings, are mutable objects: you can assign a list item to a new value. Moreover, it is possible to change entire slices.
* In the following example, we received a list `[1, 2, 3, 4, 5]`, and then try to replace the two elements of the slice `A[2:4]` with a new list of three elements. The resulting list is as follows: `[1, 2, 7, 8, 9, 5]`.

In [ ]:
A = [1, 2, 3, 4, 5]
A[2:4] = [7, 8, 9]
print(A)

* Another example, the resulting list will be `[40, 2, 30, 4, 20, 6, 10]`
*  The reason is,`A[::-2]` is a list of elements `A[-1], A[-3], A[-5], A[-7]`, and that elements are assigned to 10, 20, 30, 40, respectively.
* If a discontinuous slice (i.e. a slice with a step k, k > 1) is assigned a new value, then the number of elements in the old and new slices necessarily coincide, otherwise error ValueError occurs.
* Note that `A[i]` is a list item, not a slice!

In [ ]:
A = [1, 2, 3, 4, 5, 6, 7]
print(A[::2])

A[::-2] = [10, 20, 30, 40]
print(A)

print(A [::-1])
#A [::-1] = [10, 20, 30, 40] # cause error
A [::-1] = [10, 20, 30, 40, 8, 30, 2] # This works
print(A)

# Operations on Lists
You can easily do many different operations with lists.

Function | Description
----------| ------------|
x in A | Check whether an item in the list. Returns True or False
x not in A | The same as not(x in A)
min(A) | The smallest element of list
max(A) | The largest element in the list
A.index(x) | The index of the first occurrence of element x in the list; in its absence generates an exception ValueError
A.count(x) | The number of occurrences of element x in the list

In [ ]:
a = [2, 3, 5, 8, 13, 5, 5]

# Check to see that 8 is in the list
if 8 in a:
    print("8 is in the list")

# Check to see if 15 is not in the list
if 15 not in a:
    print("15 is not in the list")

# Print the maximum of the list
print(max(a))

# Print the minumum of the list
print(min(a))

# Print the index of the element that has a value of 13
print (a.index(13))

# Print the number of occurrance of the value 5
print (a.count(5))

# Further Reading from the Think Python Book
* [Lists](https://greenteapress.com/thinkpython2/html/thinkpython2011.html)
    * [A List is a Sequence](https://greenteapress.com/thinkpython2/html/thinkpython2011.html#sec114)
    * [Lists are Mutable](https://greenteapress.com/thinkpython2/html/thinkpython2011.html#sec115)
    * [Traversing with a For Loop](https://greenteapress.com/thinkpython2/html/thinkpython2011.html#sec116)
    * [List Operations](https://greenteapress.com/thinkpython2/html/thinkpython2011.html#sec117)
    * [List Slices](https://greenteapress.com/thinkpython2/html/thinkpython2011.html#sec118)
    * [List Methods](https://greenteapress.com/thinkpython2/html/thinkpython2011.html#sec119)
    * [Map, Filter, and Reduce](https://greenteapress.com/thinkpython2/html/thinkpython2011.html#sec120)
    * [Deleting Elements](https://greenteapress.com/thinkpython2/html/thinkpython2011.html#sec121)
    * [Lists and Strings](https://greenteapress.com/thinkpython2/html/thinkpython2011.html#sec122)

#Ex1: Odd Indices

* Prompt for a string containing integers separated by spaces.
* Load the values into a list.
* Print the values with ane odd index number (a[1], a[3], a[5]...).
* Do NOT use the list or string functions or methods for this assignment (except the .split() method).
* Do NOT use the for x in y iterator; use for x in range(n)

```
Enter Values Separated by Spaces: 1 3 5 7 9
3
7
```

#Ex2: Odd Elements
* Prompt for a string containing integers separated by spaces.
* Load the values into a list.
* Print the values that are odd.
* Do NOT use the list or string functions or methods for this assignment (except the .split() method).
* Do NOT use the for x in y iterator; use for x in range(n)
```
Enter Values Separated by Spaces: 1 20 30 3 40 50 9 11
1
3
9
11
```

#Ex3: Greater Than Previous
* Prompt for a string containing integers separated by spaces.
* Load the values into a list.
* Print all of the elements that are greater than the previous element.
* Do NOT use the list or string functions or methods for this assignment (except the .split() method).
& Do NOT use the for x in y iterator; use for x in range(n)

```
Enter Values Separated by Spaces: 1 5 2 4 3
5
4
```

#Ex4: Neighbors of the Same Sign

* Prompt for a string containing integers separated by spaces.
* Load the values into a list.
Find and print the first adjacent elements which have the same sign.
* If there is no such pair, leave the output blank.
* Do NOT use the list or string functions or methods for this assignment (except the .split() method).
* Do NOT use the for x in y iterator; use for x in range(n)

```
Enter Values Separated by Spaces: -1 2 3 -1 -2
2 3
```

#Ex5: Greater Than Neighbors
* Prompt for a string containing integers separated by spaces.
* Load the values into a list.
* Determine and print the quantity of elements that are greater than both of their neighbors.
* The first and the last items of the list shouldn't be considered because they don't have two neighbors.
* Do NOT use the list or string functions or methods for this assignment (except the .split() method).
* Do NOT use the for x in y iterator; use for x in range(n)

```
Enter Values Separated by Spaces: 1 5 1 5 1
Example Output
2
```

#Ex6: Largest Element
* Prompt for a string containing integers separated by spaces.
* Load the values into a list.
* Determine the element in the list with the largest value.
* Print the value of the largest element and then the index number.
* If the highest element is not unique, print the index of the first instance.
* Do NOT use the list or string functions or methods for this assignment (except the .split() method).
* Do NOT use the for x in y iterator; use for x in range(n)

```
  Enter Values Separated by Spaces: 1 2 3 2 1
  Largest Value: 3
  Index of Largest Value: 2
```

#Ex7: Number of Distinct Elements
* Prompt for a string containing integers in **ascending order** separated by spaces.
* Load the values into a list.
* Print the number of distinct elements in the list.
* Do NOT use the list or string functions or methods for this assignment (except the .split() method).
* Do NOT use the for x in y iterator; use for x in range(n)

```
  Enter Values Separated by Spaces: 1 2 2 3 3 3
  Number of Distinct Elements: 3
```

#Ex8: Swap Neighbors
* Prompt for a string containing integers separated by spaces.
* Load the values into a list.
* Swap adjacent items in pairs (A[0] with A[1], A[2] with A[3], etc.).
* Print the resulting list.
* If a list has an odd number of elements, leave the last element in place.
* Do NOT use the list or string functions or methods for this assignment (except the .split() method).
* Do NOT use the for x in y iterator; use for x in range(n)

```
Enter Values Separated by Spaces: 1 2 3 4 5
Swapped Values: 2 1 4 3 5
```

# Ex9: Swap Min and Max
* Prompt for a string containing integers separated by spaces.
* Load the values into a list.
* Swap the minimum and maximum elements in the list.
* Do NOT use the list or string functions or methods for this assignment (except the .split() method).
* Do NOT use the for x in y iterator; use for x in range(n)

```
Enter Values Separated by Spaces: 3 4 5 2 1
Swapped Minimum and Maximum: 3 4 1 2 5
```

#Ex10: Number of Unique Elements
* Prompt for a string containing integers separated by spaces.
* Load the values into a list.
* Find and print the elements that appear in the list only once.
* The elements must be printed in the order in which they occur in the original list.
* Do NOT use the list or string functions or methods for this assignment (except the .split() method).
* Do NOT use the for x in y iterator; use for x in range(n)
* **Hint**: Loop through each element of the list, then loop through the list to look for a match. Be
sure that you do not match the element to itself.

```
Enter Values Separated by Spaces: 4 3 5 2 5 1 3 5
Unique Elements: 4 2 1
```