# For Loops

## Why Do We Need Loops
* In the previous lessons we dealt with sequential programs and conditions.
* Quite often programs need to repeat some block several times. That's where loops come in handy.
* To sum first 5 numbers, for sure you can write something like what you see in the code section.
```
   isum = 0
   isum = isum + 1
   isum = isum + 2
   isum = isum + 3
   isum = isum + 4
   isum = isum + 5
   print(isum)
```

# The Loop Called FOR
* If you have to do fixed amount of operations — say, sum the 100 first numbers — the for loop saves the day.
* There are **for** and **while** loop operators in Python, in this lesson we cover for.
* **for** loop iterates over any sequence.
* Let's see the simplest example of using for.
* Same as with if-else, **indentation** is what specifies which instructions are controlled by for and which aren't.

In [ ]:
i=1
for color in 'red', 'orange', 'yellow', 'green', 'cyan', 'blue', 'violet':
    print('#', i, 'color of rainbow is', color)
    i = i + 1

# You Can Interate Over Different Types:
Loop variable can iterate over the objects of different types. In the next example the variable i is pointing to int object for the first three iterations and to str object for the last three iterations:

In [ ]:
for i in 1, 2, 3, 'one', 'two', 'three':
    print(i)

# For Loop With Range
* Another use case is to iterate over some integer variable in increasing or decreasing order.
* Such a sequence of integers can be created using the function **range(min_value, max_value):** generates a sequence with numbers: min_value, min_value + 1, ..., max_value - 1

**Note:** the last number is not included.

```
for i in range(5, 8):
    print(i, i ** 2)
print('End of Loop')

Output:
5 25
6 36
7 49
End of Loop
```

In [ ]:
for i in range(4,8):
    print(i)

Example: To sum first 5 numbers:

In [ ]:
isum = 0
for i in range(1, 6):
    isum = isum + i
print(isum)

# Range: Calling With One Argument
* There's the reduced form of **range()** — `range(max_value)`
* That is exactly the same as `range(0, max_value)` , i.e. range(max_value) generates the sequence of numbers :
0, 1, 2, ..., max_value - 1.

```
for i in range(3):
    print(i)

Output:
0
1
2
```

In [ ]:
x = 4
for i in range(x):
    print('Hello, world!')

Hello, world!
Hello, world!
Hello, world!
Hello, world!

# For Loop Empty Sequence
**range()** can define an empty sequence,
* range(-5)
* range(7, 3) .

In the following case the for-block won't be executed:

```
   for i in range(-5):
       print("Hello, world!")
   print("End of Loop")

Output:
End of Loop
```

In [ ]:
for i in range(-5):
    print("This won't be printed")
for k in range(8, 6):
    print('Nothing will be printed')
print("End of Loop")

# More Complex Example
Let's have more complex example and sum the integers from 1 to n inclusively. Pay attention that maximum value in *range()* is **n + 1** to make i equal to n on the last step.

In [ ]:
result = 0
n=5
for i in range(1, n + 1):
       result += i
       # this ^^ is the shorthand for
       # result = result + i
print(result)

# Other Useful Operators in a Range
* In the previous program, we've written `result += i` instead of `result = result + i`.
* The operators +=, - =, *=, /= are common shortcuts; see the code section.

In [ ]:
result = 0
debt = 1000
prod = 1
divine = 100
n=5
for i in range(1, n + 1):
    result += i # the same as result = result + i
    debt -= i #the same as debt = debt-i
    prod *= i #the same as prod = prod*i
    divine /= i # the same as divine = divine / i
print(result)
print(debt)

# Decreasing Sequence
* To iterate over a decreasing sequence, we can use an extended form of range() with three arguments - `range(start_value, end_value, step)` .
* When omitted, the step is implicitly equal to 1.
* However, can be any non-zero value. The loop always includes **start_value** and excludes **end_value** during iteration:

In [ ]:
for i in range(10, 0, -2):
    print(i)

# More About the print() Function
* By default, the function **print()** prints all its arguments separating them by a space and the puts a newline symbol after it.
* This behavior can be changed using keyword arguments sep (separator) and end. You can specifiy end="" which does not advance to a new line.

In [ ]:
print(1, 2, 3)
print(4, 5, 6)

print(1, 2, 3, sep=", ", end=". ")
print(4, 5, 6, sep=", ", end=". ")
print() # a new line

print(1, 2, 3, sep="", end=" -- ")
print(4, 5, 6, sep=" * ", end=".")

# Further Reading from the Think Python Book
* [Simple Repetition](https://greenteapress.com/thinkpython2/html/thinkpython2005.html#sec43)

# Ex1: Product of N Numbers
* N numbers are given in the input. Read them and print their product.
* The first line of input contains the integer N, which is the number of integers to follow.
* Each of the next N lines contains one integer.
* Print the product of these N integers.

**Example output:**

```
Enter N: 5
Enter Number: 4
Enter Number: 5
Enter Number: 1
Enter Number: 3
Enter Number: 2
120
```

#Ex2: Sum of Cubes
* For the given integer N, calculate the sum cubes of each number from 1 to N.
* `1**3 + 2**3 + ... + N**3`

**Example out**
```
Enter Number: 5
225
```

# Ex3: Factorial
* In mathematics, the factorial of an integer N, denoted by N! is the following product:
    * `N! = 1 × 2 × ... × N`
* For the given integer N, calculate the value N!
* Do NOT use math module in this exercise.

```
Enter Number: 5
120
```

# Ex4: Number of Zeros
* Given N numbers: the first number in the input is N, after that N integers are given.
* Count the number of zeros among the given integers and print it.
* You need to count the numbers that are equal to zero, NOT the number of zero digits.

```
Enter N: 5
Enter Number: 0
Enter Number: 700
Enter Number: 0
Enter Number: 200
Enter Number: 2

Number of Zeros: 2
```

# Ex5: Sum of Factorials

* Given an integer N, print the sum of: 1! + 2! + 3! + ... + N!
* This problem has a solution with only one loop, so try to discover it.
* Do NOT use the math library.

```
Enter N: 5
Sum of Factorials: 153
```

# Ex6: Squares in a Range

* Given two integers A and B, print squares of all integer numbers between them inclusively as shown below.
    * Be sure to print the formula as shown.
    * There are no spaces around * and =.
    * You can use either the `sep=`  argument of the `print()` statement or the `.format` method.

```
Enter A: 0
Enter B: 10
0*0=0
1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100
```

# Ex7: Ladder

* For given integer N ≤ 9, print a ladder of N steps.
* The Kth step consists of the integers from 1 to K without spaces between them.
* You can use the sep= and end= arguments of the print() function.
* **Hint:** You can use a For loop within a For loop.

```
  Enter N: 9
  1
  12
  123
  1234
  12345
  123456
  1234567
  12345678
  123456789
```

# Ex8: Is Prime
* A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself.
* Given an integer N > 1, print PRIME if it's prime and print * COMPOSITE otherwise.
* **Hint:** Loop from 2 to (half of N) + 1 and check to see if any number evenly divides into N.

```
  Enter N: 4
  COMPOSITE

  Enter N: 5
  PRIME
```

# Ex9: Primes In a Range

* A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself.
* Given two integers A and B, print all prime numbers between them, inclusively.
* **Hint:** Copy your code from the **Is Prime** assignment and modify it so that N varies from A to B.

```
  Enter A: 2
  Enter B: 10
  2
  3
  5
  7
```

# Ex10: Lost Card

* There was a set of cards with numbers from 1 to N. One of the card is now lost.
* Determine the number on that lost card given the numbers for the remaining cards.
* **Hint:** This solution has three parts. Suppose you have 10 cards.
    * First, sum the values from 1 to 10. This the total value of the cards.
    * Next, read each card (there will be 9 of them) and sum of their values.
    * Finally, subract the two sums. The difference is the missing card.

```
  Enter Number of Cards: 5
  Enter Card: 1
  Enter Card: 2
  Enter Card: 4
  Enter Card: 5
  Missing Card: 3  

```